<div class="material-datatables">
    <div id="datatables_wrapper" class="dataTables_wrapper dt-bootstrap4">
        <div class="row">
            <div class="col-sm-12">
                <form method="post" class="search">
                    <%- include('../common/master/_hidden') %>

                    <div class="form-row">
                        <div class="form-group bmd-form-group col-md-2">
                            <label for="code" class="bmd-label-static">
                                所有権ID
                            </label>
                            <input class="form-control" placeholder="所有権ID" name="id[$eq]"
                                id="id[$eq]" />
                        </div>
                        <div class="form-group bmd-form-group col-md-4">
                            <label for="ownedFrom" class="bmd-label-static">
                                所有期間
                            </label>

                            <div class="input-group">
                                <input class="form-control datepicker" placeholder="" maxlength=10
                                    name="ownedFrom" id="ownedFrom" value="" />
                                <div class="input-group-append">
                                    <span class="input-group-text">から</span>
                                </div>
                                <input class="form-control datepicker" placeholder="" maxlength=10
                                    name="ownedThrough" id="ownedThrough" valufe="" />
                                <div class="input-group-append">
                                    <span class="input-group-text">まで</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group bmd-form-group col-md-2">
                            <label for="ownedBy[id]" class="bmd-label-static">
                                所有者ID
                            </label>
                            <input class="form-control" placeholder="所有権ID" name="ownedBy[id]"
                                id="ownedBy[id]" />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group bmd-form-group col-md-2">
                            <label for="typeOfGood[typeOf]" class="bmd-label-static">
                                所有物タイプ
                            </label>
                            <input class="form-control" placeholder="所有物タイプ" name="typeOfGood[typeOf]"
                                id="typeOfGood[typeOf]" />
                        </div>
                        <div class="form-group bmd-form-group col-md-2">
                            <label for="typeOfGood[id]" class="bmd-label-static">
                                所有物ID
                            </label>
                            <input class="form-control" placeholder="所有物ID" name="typeOfGood[id]"
                                id="typeOfGood[id]" />
                        </div>
                        <div class="form-group bmd-form-group col-md-2">
                            <label for="typeOfGood[identifier]" class="bmd-label-static">
                                所有物識別子
                            </label>
                            <input class="form-control" placeholder="所有物識別子" name="typeOfGood[identifier]"
                                id="typeOfGood[identifier]" />
                        </div>
                        <div class="form-group bmd-form-group col-md-2">
                            <label for="typeOfGood[issuedThrough][id]" class="bmd-label-static">
                                発行サービスID
                            </label>
                            <input class="form-control" placeholder="発行サービスID" name="typeOfGood[issuedThrough][id]"
                                id="typeOfGood[issuedThrough][id]" />
                        </div>
                        <div class="form-group bmd-form-group col-md-2">
                            <label for="typeOfGood[issuedThrough][typeOf]" class="bmd-label-static">
                                プロダクトタイプ
                            </label>
                            <select class="form-control" name="typeOfGood[issuedThrough][typeOf]">
                                <option value="">---</option>
                                <% productTypes.forEach((productType) => { %>
                                <option value="<%= productType.codeValue %>"><%= productType.name %></option>
                                <% }) %>
                            </select>
                        </div>

                        <div class="form-group bmd-form-group col-md-2">
                            <label class="bmd-label-static"></label>

                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="includeGoodWithDetails">
                                    <input class="form-check-input" type="checkbox" name="includeGoodWithDetails"
                                        id="includeGoodWithDetails" value="1">
                                    詳細取得
                                    <span class="form-check-sign">
                                        <span class="check"></span>
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="advanced collapse">
                    </div>
                </form>
            </div>
        </div>
        <div id="list" style="display:none;" class="row">
            <div class="col-sm-12 table-responsive">
                <table id="datatables" class="table table-no-bordered table-hover dataTable dtr-inline" cellspacing="0"
                    width="100%" style="width: 100%;" role="grid" aria-describedby="datatables_info">
                    <thead class="text-primary">
                        <tr>
                            <th>ID</th>
                            <th>ownedFrom</th>
                            <th>ownedThrough</th>
                            <th>owner</th>
                            <th>acquiredFrom</th>
                            <th>typeOfGood</th>
                            <th>typeOfGood.isssuedThrough</th>
                            <th>typeOfGood.paymentAccount</th>
                            <th>actions</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="templateRow" data-id="$id$">
                            <td name="id">
                                $id$
                            </td>
                            <td name="ownedFrom|date:YYYY-MM-DD HH:mm:ssZ">
                                $ownedFrom$
                            </td>
                            <td name="ownedThrough|date:YYYY-MM-DD HH:mm:ssZ">
                                $ownedThrough$
                            </td>
                            <td name="id__ownedByCount">
                                <a href="javascript:void(0)" class="showOwnedBy" data-id="$id$">
                                    $ownedByCount$ owners
                                </a>
                            </td>
                            <td name="id__acquiredFrom.typeOf__acquiredFrom.name">
                                <a href="javascript:void(0)" class="showAcquiredFrom" data-id="$id$">
                                    $acquiredFrom.typeOf$
                                    <br>$acquiredFrom.name$
                                </a>
                            </td>
                            <td name="id__typeOfGood.typeOf__typeOfGood.id__typeOfGood.identifier">
                                <a href="javascript:void(0)" class="showTypeOfGood" data-id="$id$">
                                    $typeOfGood.typeOf$
                                    <br>$typeOfGood.id$
                                    <br>$typeOfGood.identifier$
                                </a>
                            </td>
                            <td name="id__typeOfGood.issuedThrough.typeOf__typeOfGood.issuedThrough.id">
                                $typeOfGood.issuedThrough.typeOf$
                                <br>$typeOfGood.issuedThrough.id$
                            </td>
                            <td name="id__typeOfGood.paymentAccount.typeOf__typeOfGood.paymentAccount.accountNumber__typeOfGood.paymentAccount.balance__typeOfGood.paymentAccount.accountType">
                                <span class="badge badge-light">$typeOfGood.paymentAccount.typeOf$</span>
                                <br>$typeOfGood.paymentAccount.accountNumber$
                                <br>$typeOfGood.paymentAccount.balance$ $typeOfGood.paymentAccount.accountType$
                            </td>
                            <td name="id__actions">
                                <a href="javascript:void(0)" class="showActions" data-id="$id$">
                                    表示
                                </a>
                            </td>
                            <td name="id__others">
                                <a href="javascript:void(0)" class="authorize" data-id="$id$">
                                    コード発行
                                </a>
                            </td>  
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-5">
                <div class="dataTables_info" id="datatables_info" role="status" aria-live="polite">
                </div>
            </div>
            <div class="col-sm-12 col-md-7">
                <div class="dataTables_paginate paging_full_numbers" id="datatables_paginate">
                </div>
                <div id="pager" class="div_pager_parent float-right"></div>
            </div>
        </div>
    </div>
</div>