<%
const PROJECT_CREATOR_IDS = (typeof process.env.PROJECT_CREATOR_IDS === 'string')
    ? process.env.PROJECT_CREATOR_IDS.split(',')
    : [];
%>
<div class="material-datatables">
    <div id="datatables_wrapper" class="dataTables_wrapper dt-bootstrap4">
        <div class="row">
            <div class="col-sm-12">
                <form method="post" class="search">
                    <%- include('../../common/master/_hidden') %>

                    <div class="form-row">
                        <div class="form-group bmd-form-group col-md-2">
                            <label for="transactionNumber" class="bmd-label-static">
                                取引番号
                            </label>
                            <input type="text" class="form-control" name="transactionNumber" id="transactionNumber"
                                placeholder="完全一致" />
                        </div>
                    </div>

                    <div class="advanced collapse">
                    </div>
                </form>
            </div>
        </div>
        <div id="list" style="display:none;" class="row">
            <div class="col-sm-12 table-responsive">
                <table id="datatables" class="table table-no-bordered table-hover dataTable dtr-inline" cellspacing="0"
                    width="100%" style="width: 100%;" role="grid" aria-describedby="datatables_info">
                    <thead class="text-primary">
                        <tr>
                            <th>ID</th>
                            <th>取引番号</th>
                            <th>開始日時</th>
                            <th>終了日時</th>
                            <th>ステータス</th>
                            <th>タスクステータス</th>
                            <th>agent</th>
                            <th>recipient</th>
                            <th>決済サービス</th>
                            <th>決済方法</th>
                            <th>金額</th>
                            <th>アカウント</th>
                            <th>詳細</th>
                            <th>アクション</th>
                            <th>代行取引</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="templateRow" data-id="$id$">
                            <td name="id__transactionNumber">
                                <a href="javascript:void(0)" class="showAssetTransaction" data-transactionNumber="$transactionNumber$">
                                    表示
                                </a>
                            </td>
                            <td name="transactionNumber">
                                $transactionNumber$
                            </td>
                            <td name="startDate|date:YYYY-MM-DD HH:mm:ssZ">
                                $startDate$
                            </td>
                            <td name="endDate|date:YYYY-MM-DD HH:mm:ssZ">
                                $endDate$
                            </td>
                            <td name="status">
                                <span class="badge badge-light">$status$</span>
                            </td>
                            <td name="tasksExportationStatus">
                                <span class="badge badge-light">$tasksExportationStatus$</span>
                            </td>
                            <td name="agent.typeOf__agent.name|slice:10">
                                <span class="badge badge-light">$agent.typeOf$</span><br>
                                $agent.name$
                            </td>
                            <td name="recipient.typeOf__recipient.name.ja|slice:10">
                                <span class="badge badge-light">$recipient.typeOf$</span><br>
                                $recipient.name.ja$
                            </td>
                            <td name="object.typeOf__object.id__object.id">
                                $object.typeOf$<br>
                                <a href="/projects/<%= req.project.id %>/paymentServices/$object.id$" target="_blank">
                                $object.id$
                                </a>
                            </td>
                            <td name="object.paymentMethod.typeOf">
                                $object.paymentMethod.typeOf$
                            </td>
                            <td name="object.paymentMethod.totalPaymentDue.value__object.paymentMethod.totalPaymentDue.currency">
                                $object.paymentMethod.totalPaymentDue.value$ $object.paymentMethod.totalPaymentDue.currency$
                            </td>
                            <td name="object.paymentMethod.accountId">
                                $object.paymentMethod.accountId$
                            </td>
                            <td name="transactionNumber__object.paymentMethod.additionalProperty">
                                <a href="javascript:void(0)" class="showPaymentMethodAdditionalProperty" data-transactionNumber="$transactionNumber$">
                                    表示
                                </a>
                            </td>
                            <% if (PROJECT_CREATOR_IDS.includes(user.profile.sub)) { %>
                            <td name="transactionNumber__actions">
                                <a href="javascript:void(0)" class="showActions" data-transactionNumber="$transactionNumber$">
                                    表示
                                </a>
                            </td>
                            <td name="transactionNumber__searchGMOTrade">
                                <a href="javascript:void(0)" class="searchGMOTrade" data-transactionNumber="$transactionNumber$">
                                    表示
                                </a>
                            </td>
                            <% } %>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-5">
                <div class="dataTables_info" id="datatables_info" role="status" aria-live="polite">
                </div>
            </div>
            <div class="col-sm-12 col-md-7">
                <div class="dataTables_paginate paging_full_numbers" id="datatables_paginate">
                </div>
                <div id="pager" class="div_pager_parent float-right"></div>
            </div>
        </div>
    </div>
</div>