<%
const PROJECT_CREATOR_IDS = (typeof process.env.PROJECT_CREATOR_IDS === 'string')
    ? process.env.PROJECT_CREATOR_IDS.split(',')
    : [];
%>
<div class="material-datatables">
    <div id="datatables_wrapper" class="dataTables_wrapper dt-bootstrap4">
        <div class="row">
            <div class="col-sm-12">
                <form method="post" class="search">
                    <%- include('../../common/master/_hidden') %>

                    <div class="form-row">
                        <div class="form-group bmd-form-group col-md-2">
                            <label for="transactionNumber" class="bmd-label-static">
                                取引番号
                            </label>
                            <input type="text" class="form-control" name="transactionNumber" id="transactionNumber"
                                placeholder="完全一致" />
                        </div>
                    </div>

                    <div class="advanced collapse">
                    </div>
                </form>
            </div>
        </div>
        <div id="list" style="display:none;" class="row">
            <div class="col-sm-12 table-responsive">
                <table id="datatables" class="table table-no-bordered table-hover dataTable dtr-inline" cellspacing="0"
                    width="100%" style="width: 100%;" role="grid" aria-describedby="datatables_info">
                    <thead class="text-primary">
                        <tr>
                            <th>ID</th>
                            <th>取引番号</th>
                            <th>開始日時</th>
                            <th>終了日時</th>
                            <th>ステータス</th>
                            <th>タスクステータス</th>
                            <th>agent</th>
                            <th>recipient</th>
                            <th>Amount</th>
                            <th>From</th>
                            <th>To</th>
                            <th>Description</th>
                            <th>Force</th>
                            <th>PendingTransaction</th>
                            <th>アクション</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="templateRow" data-id="$id$">
                            <td name="id__transactionNumber">
                                <a href="javascript:void(0)" class="showAssetTransaction" data-transactionNumber="$transactionNumber$">
                                    表示
                                </a>
                            </td>
                            <td name="transactionNumber">
                                $transactionNumber$
                            </td>
                            <td name="startDate|date:YYYY-MM-DD HH:mm:ssZ">
                                $startDate$
                            </td>
                            <td name="endDate|date:YYYY-MM-DD HH:mm:ssZ">
                                $endDate$
                            </td>
                            <td name="status">
                                <span class="badge badge-light">$status$</span>
                            </td>
                            <td name="tasksExportationStatus">
                                <span class="badge badge-light">$tasksExportationStatus$</span>
                            </td>
                            <td name="agent.typeOf__agent.name|slice:10">
                                <span class="badge badge-light">$agent.typeOf$</span><br>
                                $agent.name$
                            </td>
                            <td name="recipient.typeOf__recipient.name|slice:10">
                                <span class="badge badge-light">$recipient.typeOf$</span><br>
                                $recipient.name$
                            </td>
                            <td name="object.amount.value__object.amount.currency">
                                $object.amount.value$ $object.amount.currency$
                            </td>
                            <td name="object.fromLocation.typeOf__object.fromLocation.identifier__object.fromLocation.issuedThrough.id">
                                <span class="badge badge-light">$object.fromLocation.typeOf$</span>
                                <br>$object.fromLocation.identifier$
                                <br>$object.fromLocation.issuedThrough.id$
                            </td>
                            <td name="object.toLocation.typeOf__object.toLocation.identifier__object.toLocation.issuedThrough.id">
                                <span class="badge badge-light">$object.toLocation.typeOf$</span>
                                <br>$object.toLocation.identifier$
                                <br>$object.toLocation.issuedThrough.id$
                            </td>
                            <td name="object.description">
                                $object.description$
                            </td>
                            <td name="object.force">
                                $object.force$
                            </td>
                            <td name="object.pendingTransaction.typeOf__object.pendingTransaction.identifier__transactionNumber">
                                <a href="javascript:void(0)" class="showPendingTransaction" data-transactionNumber="$transactionNumber$">
                                    $object.pendingTransaction.typeOf$
                                    <br>$object.pendingTransaction.identifier$
                                </a>
                            </td>
                            <td name="id__actions">
                                <a href="javascript:void(0)" class="showActions" data-id="$id$">
                                    表示
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-5">
                <div class="dataTables_info" id="datatables_info" role="status" aria-live="polite">
                </div>
            </div>
            <div class="col-sm-12 col-md-7">
                <div class="dataTables_paginate paging_full_numbers" id="datatables_paginate">
                </div>
                <div id="pager" class="div_pager_parent float-right"></div>
            </div>
        </div>
    </div>
</div>